<% content_for :title, "Internal Sign In" %>

<main>
  <h1>Internal Sign In</h1>

  <%= form_with scope: :session, url: session_path, class: "login-form" do |form| %>
    <div class="field">
      <%= form.label :email %>
      <%= form.email_field :email, autocomplete: "email", required: true %>
    </div>

    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password, autocomplete: "current-password", required: true %>
    </div>

    <%= form.submit "Sign in" %>
  <% end %>
</main>
